@font-face
{
    font-family: pacifico;
    src: url(fonts/Pacifico.ttf);
}

@font-face
{
    font-family: bebas;
    src: url(fonts/BebasNeue.otf);
}


@font-face
{
    font-family: font-awesome;
    src: url(fonts/FontAwesome.otf);
}

@font-face
{
    font-family: opensans;
    src: url(fonts/OpenSans.ttf);
}

*,
*:before,
*:after
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body
{
    margin: 0px;
    width: 100%;

}

html
{
    height: 100%;
    padding: 0px;
    position: relative;
}

body
{
    height: 100%;
    background-color: black;
    font-size: 15px;
    /*overflow: hidden;*/
}

#xa-background
{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -5;

}

.xa-head
{
    width:100%;
    height:170px;
    z-index: 2;
}

.xa-title
{
    margin-top: 10px;
    font-size: 3.4em;
    text-transform: capitalize;
    text-align: center;
    width: 100%;
    font-family: pacifico;
    color: white;
    font-weight: lighter;
    margin-bottom: 10px;
}


/*
#xa-menu-button-container
{
display: block;
position: absolute;
height: 100%;
width:50px;
transition: width 0.3s 0.3s ease;
left: 50%;
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
cursor: pointer;
}
*/
/*
.xa-menu-button
{
color: white;
position: absolute;
background-color: white;
height: 3px;
width:100%;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transition: height 0.3s 0.1s ease,background-color 0.5s 1s ease;
}


.xa-menu-button:before,
.xa-menu-button:after
{
content: '';
background-color: white;
height: 100%;
width: 100%;
position: absolute;
transition:opacity 0.2s 0.8s linear,transform 0.2s linear;
transition:opacity 0.2s 0.8s linear,-webkit-transform 0.2s linear;
opacity: 1;
}

.xa-menu-button:before
{
transform: translateY(-300%);
-webkit-transform: translateY(-300%);
}

.xa-menu-button:after
{
transform: translateY(300%);
-webkit-transform: translateY(300%);
}
*/

.xa-menu
{
    height: 50px;
    position: relative;
    width: 80%;
    max-width: 36.6em;
    min-width: 350px;
    margin: auto; 
}

.xa-menu-button
{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width:100%;
    transition: height 0.3s 0.1s ease;
    border-radius: 5px;
}

/*
.xa-menu-button:before,
.xa-menu-button:after
{
content: '';
background-color: black;
height: 2px;
width: 100%;
display: block;
position: absolute;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
}

.xa-menu-button:before
{
right: 100%;
}

.xa-menu-button:after
{
left: 100%;
}

*/
/*
.xa-menu-open .xa-menu-button:before,
.xa-menu-open .xa-menu-button:after
{
opacity: 0;
transition:opacity 0.2s linear,transform 0.2s linear;
-webkit-transition:opacity 0.2s linear,-webkit-transform 0.2s linear;
-moz-transition:opacity 0.2s linear,-moz-transform 0.2s linear;
}

.xa-menu-open .xa-menu-button:before
{
transform: translateY(-500%);
-webkit-transform: translateY(-500%);
}

.xa-menu-open .xa-menu-button:after
{
transform: translateY(500%);
-webkit-transform: translateY(500%);
}

.xa-menu-open .xa-menu-button
{
height:50px;
transition: height 0.3s 0.7s ease;
border-radius: 2px;
background-color: white;
}

.xa-menu-open #xa-menu-button-container
{
width:100%;
cursor: default;
}



.xa-menu-open .xa-head-overlay
{
position: fixed;
top: 0;
height: 100%;
width: 100%;
display: block;
z-index: 1;
background-color: rgba(0,0,0,0.2);
}

.xa-nav
{
text-decoration: none;
list-style: none;
margin: 0;
text-transform:uppercase;
padding: 0px;
height: 100%;
visibility: collapse;
position: absolute;
width: 100%;
opacity: 0;
transition:opacity 0.3s linear;
z-index: -1;
}
*/

.xa-nav
{
    text-decoration: none;
    list-style: none;
    margin: 0;
    text-transform:capitalize;
    padding: 0px;
    height: 100%;
    position: absolute;
    width: 100%;
}
/*
.xa-menu-open .xa-nav
{
visibility: visible;
opacity: 1;
transition:opacity 0.5s 0.9s ease;
z-index: 0;
}
*/
.xa-nav .xa-icon
{
    float: left;
    width: 20%;
    position: relative;
    height: 100%;
    color: rgb(122,152,183);
}

.xa-icon-img
{
    transition: opacity 1s ease;
}

.xa-icon>a
{
    text-decoration: none;
    width:100%;
    cursor: pointer;
    height: 100%;
    position: absolute;
    text-align: center;
    color:inherit;
}

.xa-icon>a>span
{
    font-family: pacifico;
    font-size: 1.6em;
    height: 100%;
    display: block;
    color: inherit;
}

.xa-icon:hover
{
    color: rgb(81, 132, 185);
}

.xa-about-page .xa-icon:last-child
{
    color: white;
}
.xa-home-page .xa-icon:first-child
{
    color: white;
}
.xa-library-page .xa-icon:nth-child(2)
{
    color: white;
}
.xa-profile-page .xa-icon:nth-child(4)
{
    color: white;
}

.xa-icon-img:before
{
    font-size: 0;
}
/*
.xa-menu-tooltip
{
width:100%;
margin-left: 0em;
background-color: rgba(76,104,161,1);
bottom:-60px;
position: absolute;
border-radius:2px;
color: white;
height:30px;
font-size: 1em;
font-family: calibri,arial,verdana,sans-serif;
padding-top: 4.5px;
opacity: 0;
transition:bottom 0.3s ease, opacity 0.3s ease,height 0s 1s linear;
cursor:default;
pointer-events: none;
text-align: center;
}

.xa-menu-tooltip:before
{
content: '';
position: absolute;
height: 0;
width: 0;
border-width: 15px;
border-color: transparent;
border-style: solid;
border-bottom-color: rgba(76,104,161,1);
bottom:100%;
left: 50%;
transform:translateX(-50%);
-webkit-transform:translateX(-50%);
}

.xa-about-page .xa-menu-tooltip
{
transition: none;
}

.xa-icon:hover .xa-menu-tooltip
{
opacity:1;
bottom: -50px;
display: block;
}

.xa-icon:hover .xa-menu-tooltip:hover
{
opacity: 0;
bottom:-70px;
}
*/
.xa-menu-tooltip
{
    font-size: 0;
}

.xa-search-form
{
    position: absolute;
    height: 100%;
    width: 0px;
    opacity:0;
    transition: width 0s;
}

.xa-search-bar
{
    position: absolute;
    height:100%;
    font-size: 1.5em;
    font-family: pacifico;
    width: 0px;
    text-align: center;
    border: 0px;
    z-index: 2;
}

.xa-search-button
{
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    right: 0;
}

/*
.xa-search-open .xa-search-form
{
width: 100%;
opacity:1;
}

.xa-search-open .xa-search-form .xa-search-bar
{
width: 90%;
transition: width 0.3s ease;
z-index: 2;
}

.xa-search-open .xa-icon
{
width: 0%;
}

.xa-search-open .xa-icon .xa-menu-tooltip
{
display: none;
}

.xa-search-open .xa-icon .xa-icon-img
{
font-size: 0;
}

.xa-search-open .xa-icon:nth-child(3)
{
width: 10%;
left: 50%;
margin-left: 40%;
transition: margin 0.3s ease, background-color 0.2s 0.21s ease;
background-color: rgba(153,176,208,1);
border-radius: 2px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

.xa-search-open .xa-icon:nth-child(3) .xa-icon-img
{
font-size: 2em;
}
*/

.xa-search-open .xa-search-form
{
    width: 100%;
    opacity:1;
    background-color: transparent;
    z-index: 2;
    transition: width 0.2s ease;
    border-radius: 5px;
}


.xa-search-open .xa-search-form .xa-search-bar
{
    width: 90%;
    background-color: rgba(0,0,0,0.0);
    color: white;
    font-family: bebas;
}

.xa-search-open .xa-search-button
{
    width: 10%;
    height: 100%;
    font-size: 2.3em;
    text-align: center;
    color: white;
    left: 90%;
    padding-top: 0.2em;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.xa-search-open .xa-icon .xa-icon-img
{
    opacity: 0;
    transition: opacity 0s ease;
}


/*
.xa-search-open .xa-icon:nth-child(3)
{
width: 10%;
left: 90%;
transition: left 1s ease, background-color 1s ease;
background-color: rgba(0,0,0,0.8);
border-radius: 5px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
display: block;
color: transparent;
overflow: hidden;
}

.xa-search-open .xa-icon:nth-child(3) .xa-icon-img
{
opacity: 1;
}
.xa-search-open .xa-icon:nth-child(3) .xa-icon-img:before
{
font-size: 1.3em;
font-family: font-awesome;
color: white;
height: 100%;
width: 100%;
position: relative;
}
*/



.center
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.text-center
{
    text-align: center;
}

.xa-quote
{
    font-family: bebas;
    font-size: 3em;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pacifico
{
    font-family: pacifico;
    text-transform: capitalize;
}

.bebas
{
    font-family: bebas;
    text-transform: capitalize;
}

.opensans
{
    font-family: opensans;
    text-transform: capitalize;
}

.xa-quote:before
{
    content: '\f10d';
    font-family: font-awesome;
    margin-right: 10px;
}

.xa-quote:after
{
    content: '\f10e';
    font-family: font-awesome;
    margin-left: 10px;
}

.xa-body
{
    -webkit-transform: translate3d(0, 0, 0);
    width: 100%;
    min-height: 100%;
    font-size: 2em;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    transition: transform 0.3s,opacity 0.3s;
    transition: -webkit-transform 0.3s,opacity 0.3s;
    transition: -moz-transform 0.3s,opacity 0.3s;
    transform-origin: left;
    position: relative;
}

.xa-profile-pic
{
    height: 7em;
    width: 7em;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
}

.xa-profile-pic>img
{
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 2px white, 0 0 50px black;
    border-radius:50%;
}

.xa-profile-name
{
    font-family: pacifico;
    font-size: 1.1em;
    text-align: center;
    text-transform: capitalize;
    padding-top: 0.5em;
    position: relative;
    z-index: -1;
}

.xa-profile-main-container
{
    width: 100%;
    min-height: 40%;
    position: relative;
    margin-top: 75px;
    padding: 20px;
    padding-top: 0px;

}

.xa-profile-main-container:before
{
    content: '';
    position: absolute;
    bottom: 100%;
    border-color: transparent;
    border-width: 50px;
    border-style: solid;
    border-bottom-color: rgba(0,0,0,0.7);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.xa-black-back
{
    background-color: rgba(0,0,0,0.7);
}

.xa-wrapper-container
{
    position: relative;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.xa-wrapper-container:after
{
    position: absolute;
    content: '';
    bottom: -30px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    box-shadow: 20px 0 white, -20px 0 white;
}

.xa-header
{
    text-align: center;
    font-family: pacifico;
    padding-top: 5px;
    color: rgb(76,104,161);
    font-size: 0.9em;
    text-transform: capitalize;
}

.xa-about-recents
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 10px 20px 20px 10px;
}

.xa-books-container
{
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 1em 1em 1em 1em;
    background-color: rgba(0,0,0,0.5);
}

.xa-books-wrapper
{

    min-width: 300px;
    max-width: 350px;
    width: 25%;

    display: inline-block;
    padding: 0px;
    margin: 10px;
}



.xa-books figure
{
    margin: 0;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    background: black;
    text-align: center;
}

.xa-books figure div
{
    transition: opacity 0.3s;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.xa-books figure img
{
    display: block;
    width: 100%;
    position: relative;
    left: 0;
    transition: left 0.3s;
}

.xa-books figure figcaption
{
    top: 0;
    height: 100%;
    width: 50%;
    position: absolute;
    transform-origin: 0 0;
    transform: rotateY(-90deg);
    -webkit-transform-origin: 0 0;
    transition: -webkit-transform 0.3s, opacity 0.1s 0.1s;
    transition: -moz-transform 0.4s, opacity 0.1s 0.1s;
    -webkit-transform: rotateY(-90deg);
    transition: transform 0.3s, opacity 0.1s 0.1s;
    background: #2c3f52;
    opacity: 0;
    padding: 10px;
}

.xa-book-title
{
    font-family: bebas;
    font-weight: lighter;
    text-transform: uppercase;
    color: rgb(221,75,57);
    font-size: 0.9em;
    margin: 0;
    text-align: center;
    top: 0;
    padding-bottom: 10px;

}

.xa-book-subtitle
{
    margin: 0;
    font-family: bebas;
    font-size: 0.5em;
    padding-bottom: 5px;
    color: rgb(181, 195, 204);
    font-weight: lighter;
    word-spacing: 1.5px;
}

.xa-book-status
{
    color: white;
    font-family: bebas;
    text-transform: capitalize;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}

.xa-book-status:before
{
    content: 'page ';
    font-family: pacifico;
}

.xa-about-written .xa-books figure figcaption .xa-book-status:before
{
    content: '';
}
.xa-about-written .xa-books figure figcaption .xa-book-status:after
{
    content: ' pages';
    font-family: pacifico;
}

.xa-about-written
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding: 10px 20px 20px 10px;
}

.xa-book-author
{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: bebas;
    font-weight: lighter;
    text-transform: Capitalize;
    margin: 0;
    font-size: 0.55em;
    color: rgb(64, 150, 210);
    word-spacing: 2px;
    margin-left: -10px;
    padding:0px 6px 10px 6px;
}

.xa-book-author:before
{
    content: 'by ';
    font-size: 0.8em;
}

.xa-books:hover figure div
{
    opacity: 0.8;
}

.xa-books:hover figure div img
{
    left: 50%;
}

.xa-books:hover figure figcaption
{
    transform: none;
    -webkit-transform: none;
    opacity: 1;
    transition: -webkit-transform 0.3s, opacity 0.1s;
    transition: -moz-transform 0.3s, opacity 0.1s;
    transition: transform 0.3s, opacity 0.1s;
}

.xa-data-small
{
    font-size: 0.6em;
}

.xa-about-bookmarks
{
    list-style: none;
    padding: 10px;
    padding-top: 0;
    text-align: center;
    margin: 0;
}

a
{
    text-decoration: none;
    display: block;
    outline: none;
}

img
{
    border: none;
}


.xa-text-wrapper
{
    display: inline-block;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    border-radius: 2px;
    background-color: rgba(255,255,255,0.1);
}

.xa-text-wrapper:hover
{
    background-color: rgba(76,104,161,0.3);
}

.xa-button
{
    color: rgb(221,75,57);
    text-transform: capitalize;
    font-family: pacifico;
    padding: 0em;
    font-size: 0.5em;
    width: 100px;
    border: none;
    cursor: pointer;
}

.xa-button:hover
{
    background-color: rgba(221,75,57,0.9);
    color: white;
}

.absolute
{
    position: absolute;
}

button
{
    outline:none;
}

.fixed
{
    position: fixed;
}

.sign-out
{
    top: 0%;
    left: 0%;
    height: 5.3em;
    width: 5.3em;
    transform: translateX(-40%) translateY(15%);
    -webkit-transform: translateX(-40%) translateY(15%);
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.settings
{
    top: 0;
    right: 0;
    height: 5.3em;
    width: 5.3em;
    transform: translateX(40%) translateY(15%);
    -webkit-transform: translateX(40%) translateY(15%);
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.write-book
{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(50%);
    height: 5.3em;
    width: 5.3em;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.8);
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

.xa-settings-panel
{
    width: 100%;
    min-height: 50%;
    top: 0; 
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transition: transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: -moz-transform 0.3s;
    margin-top: 200px;

}

.xa-panel
{
    min-width: 700px;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 50px;
}

#xa-back
{
    font-size: 1.1em;
    padding: 0.5px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100px;
    position: relative;
    margin: 0;
    background: rgba(0,0,0,0.5);
}

.xa-panel>div
{
    position: relative;
    width: 70%;
    height: 100%;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);    
}

.xa-table-data
{
    font-family: pacifico;
    font-weight: lighter;
    color: white;
    position: absolute;
    background-color: rgba(255,255,255,0.1);
    font-size: 1.5em;
    border-radius: 2px;
    margin: 0 0 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 2em;
    width: 100%;
}

.xa-table-button
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0;
    height: 100%;   
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 0.7em;
    text-align: center;
}

.xa-half-width
{
    width: 50%;
    margin: 0;
}

.xa-settings-panel ul
{
    padding: 0;
    list-style: none;
    position: relative;
    height: 3em;
    margin-bottom: 50px;
}

.xa-settings-panel ul li
{
    width: 50%;
    display: block;
    position: relative;
    text-transform: capitalize;
}

.xa-settings-panel ul li>div
{
    margin: 0;
    cursor: default;
}

.xa-settings-panel ul li:nth-child(1)
{
    padding-right: 7.5px;
}

.xa-settings-panel ul li:nth-child(2)
{
    padding-left: 7.5px;
}

.xa-settings-panel ul li .xa-table-button
{
    font-size: 0.9em;
    width: 50px;
    cursor: default;
    background-color: rgba(255,255,255,0.4);
}

.xa-settings-panel ul li .xa-table-button:hover
{
    color: rgba(221,75,57,0.9);
}

.xa-float-left
{
    float: left;
}

.xa-wrapper
{
    width: 100%;
}

#xa-pass-change
{
    font-size: 1.1em;
    padding: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 200px;
    position: relative;
    margin: 0;
    background: rgba(0,0,0,0.5);
}

.xa-side-bar
{
    position: relative;
    width: 10em;
    float: left;
    height: 100%;
    margin: 0;
    margin-top: -20px;
    z-index: 5;
}

.xa-side-bar>ul
{
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0; 
    margin: 0;

}

.xa-side-bar>ul>li
{
    height: 1.9em;
    width: 100%;
    margin: 0;
    font-size: 1em;
    color: white;
}

.xa-side-bar>ul>li>a
{
    height: 100%;
    width: 100%;
    color: inherit;
    padding-left: 2em;
}

.xa-list-select
{
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
}

.xa-side-bar>ul>.xa-list-active
{
    color: rgb(221,75,57);
}


.xa-main-content
{   
    padding: 0;
    /*padding-left: 10em;*/
    border: 0;
    border-left: 10em;
    border-color: transparent;
    border-style: solid;
    width: 100%;
    margin-top: -20px;
}